*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
    scroll-behavior:smooth;
}
body{
    background-color: rgb(235, 235, 235);
}

.sirinaFull{
    width: 100%;
    height: fit-content;
}

.sirinaSrednja{
    width: 80%;
    height: fit-content;
    margin: 0px auto;
}
.header1{
    background-color: rgb(41, 41, 41);
 
   
}
.flexBoxSpaceBt{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
   
}
.headerDodaci{
    width: 20%;
  padding: 10px 0px;
   
}

#reg1{
    width: 100%;
    height: 700px;
    background-image: url("img/poz1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 3px solid rgb(41, 41, 41);;
}
header{
    width: 80%;
    margin: 0px auto;
    height: fit-content;
    background-color: azure;
    align-items: center;
}
#logo{
    width: fit-content;
    height: 100px;
   
    display: flex;
    justify-content: center;
    align-items: center;
} 
#navMenu{
    width: 66%;
    height: fit-content;
    display: flex;
    justify-content: right;
    align-items: center;
    
    
}
#lista{
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    
    color: brown;
   
}
#lista li{
    color: rgb(41, 41, 41);
    padding: 20px 15px;
}
#lista li a{
    color: rgb(41, 41, 41);
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    padding: 20px 15px;
}
#lista li:hover{
   background-color: orange;
}
#logo h1{
    font-size: 40px;
    margin-left: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(41, 41, 41);
}
.prvi{
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
}
.ikona{
    margin-right: 10px;
    font-size: 24px !important;
}
.drugi{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.ikonice{
    width: 30px;
    height: 30px;
    background-color: white;
    margin: 0px 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#listaMedia{
    display: flex;
    flex-direction: row;
}
.treci{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}
.mail{
    font-size: 15px;
    margin-left: 20px;
    color: white;
}
.mailico{
    font-size: 24px !important;
    color: white;
}

#hamburger{
    display: none;
    
    display: flex;
    
    align-items: center;
    padding-right: 30px;
}

#boxCase{
    width: 70%;
    
    margin: 0px auto;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box{
    width: 25%;
    border-bottom: 3px solid rgb(41, 41, 41);
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box img{
    margin-bottom: 10px;
    padding-top: 30px;
    width: 90px;
}
.box p{
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(41, 41, 41);
    text-align: center;
    padding: 20px 0px;
    padding-bottom: 30px;
    font-size: 19px;
}
.boxes{
    margin-top: -100px;
}
#reg2{
    width: 100%;
    margin: 100px 0px;
    
}
#aboutCompany{
    width: 60%;
    height: 300px;
}
#slikaZaOpis{
    width: 30%;
    height: 300px;
}
#reg2 .sirinaSrednja{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#aboutCompany p{
    padding: 50px 0px;
    padding-right: 50px;
}
#aboutCompany h1{
    font-size: 40px;
    color: #1c1c1c;
    line-height: 40px;
    font-weight: 700;
}
#aboutCompany button{
    font-size: 17px;
    background-color: #1b1b1a;
    color: #fff;
    padding: 17px 0px;
    width: 100%;
    max-width: 186px;
    text-align: center;
    display: inline-block;
    transition: ease-in all 0.5s;
    font-weight: 500;
    border-radius: 5px;
    height: 60px;
    text-transform: uppercase;
}

#slikaZaOpis img{
    max-width: 100%;
    height: auto;
} 
#dodatanOpis{
    padding-top: 20px;
    display: none;
    width: 100%;
    height: fit-content;
}


#hamburgerSlika{
    width: 50px;
    float: right;
    display: none;
}

.display-block{
    display: block !important;
}

#reg3{
    background-color: #2a2a2a;
    padding-bottom: 50px;
}
#reg3 h1{
    margin: 50px 0px;
    margin: 0px auto;
}
.strana{
    width: 50%;
}

.leva{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#naslovna{
    width: 80%;
    height: 400px;
    margin: 0px auto;
    border: 2px solid orange;
}

#tekst-opis{
    width: 80%;
    height: 100px;
    background-color: orange;
    margin: 0px auto;
    text-align: center;padding-top: 30px;
    font-weight: 600;
}


#project-naslov{
    height: fit-content;
    background-color: #2a2a2a;
    color: orange;
    padding: 40px 0px;
    margin-top: 200px;
}
#project-naslov{
    text-align: center;
}
.row{
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 30px;
}
.icon{
    width: 30%;
    height: 120px;
    background-color: beige;
}
.icon:hover{
    border: 2px solid orange;
}

.slikaa{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#pozornicaslika{
    width: 100%;
    height: 100%;
}












/* RESPONSIVE */
@media only screen and (min-width: 921px){
    #navMenu{
        display: block !important;
    }
}

@media only screen and (max-width: 1260px) {
    header{
        flex-wrap: wrap;
    }
   #logo{
    width: 100%;
   }
   #navMenu{
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
  
   }
   #lista{
    margin: 0px auto;
    margin-left: 0px;
    width: 100%;
   }
   
   
}


@media only screen and (max-width: 1200px){
    #boxCase{
        flex-wrap: wrap;
    }
    .boxes{
        margin-top: 0px;
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .box{
        width: 200px;
        height: 200px;
        margin: 0px auto;
        margin-bottom: 30px;
        
    }
    #navMenu{
        display: block;
    }
}
@media only screen and (max-width: 920px){
    #reg2{
        margin-bottom: 300px;
    }
    #reg3{
        flex-direction: column;
    }
    .strana{
        width: 90%;
        margin: 0px auto;
    }
    .row{
        margin: 20px auto;

    }
    #lista li {
        padding: 0px; 
    }
    #navMenu{
        display: none;
        width: 100%;
        
    }
    #hamburgerSlika{
        display: block;
    }
    #lista{
        flex-direction: column;
        position: absolute;
        width: 80%;
        opacity: 0.6;
    }
    #lista li{
        margin: 0px auto;
        background-color: rgb(41, 41, 41);
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    #lista li a{
        color: white;
    }
    #hamburger{
        display: block;
        width: 50%;
        
    }
    #logo{
        width: 50%;
        justify-content: start;
    }
    
}








.active-block{
    align-self: flex-end;
    display: initial;
  
    
}





  @media only screen and (max-width: 700px) {
    #reg2{
        margin-bottom: 500px;
    }
    .row{
        flex-direction: column;
        width: 70%;
        margin: 2px auto;
    }
    .icon{
        width: 70%;
        margin: 20px auto;
        height: fit-content;
    }
    .hed2{
        flex-wrap: wrap;
        flex-direction: column !important; 
    }
   .prvi{
    width: 100%;
    display: flex;
    justify-content: center;
   }
   
   .drugi{
    width: 100%;
    display: flex;
    justify-content: center;
   }
   .treci{
    width: 100%;
    display: flex;
    justify-content: center;
   }
   

   .opis2{
    flex-wrap: wrap;
    flex-direction: column;
   }
   #aboutCompany{
    width: 90%;
    margin: 0px auto;
    flex-wrap: wrap;
    text-align: center;
   }
   #aboutCompany p{
    padding-right: 0px;
   }
   #slikaZaOpis{
    display: none;
   }

}
    
  
   
